body {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  @include font-nimbus('regular');

  margin: 0;
=======
=======
	@include font-nimbus('regular');

>>>>>>> c5c0b95... Add nimbus font
	margin: 0;
>>>>>>> a7105fd... reconfigure scss structure, add 18f brand colors, favicon
=======
  @include font-nimbus('regular');

  margin: 0;
>>>>>>> 53280d3... test icon working
}
