td,
th {
<<<<<<< HEAD
<<<<<<< HEAD
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
=======
	padding-left: 5px;
	padding-right: 5px;
<<<<<<< HEAD
>>>>>>> a7105fd... reconfigure scss structure, add 18f brand colors, favicon
=======
	vertical-align: top;
>>>>>>> e335799... style guidance from eric ronnne
=======
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
>>>>>>> 3abc053... spaces
}
