.input .date {
  display: inline-block;

  select.date {
    padding: 1em;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD

.input {
  margin-bottom: $base-padding-lite;
}

.input:last-of-type {
  margin-bottom: $base-padding;
}

=======
>>>>>>> 1e283fb... Apply jy-style-fun styles
=======

.input {
  margin-bottom: $base-padding-lite;
}

.input:last-of-type {
  margin-bottom: $base-padding;
}
<<<<<<< HEAD
>>>>>>> a7105fd... reconfigure scss structure, add 18f brand colors, favicon
=======

>>>>>>> e335799... style guidance from eric ronnne
