.column-buttons {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  width: 105px;
}

.column-wide {
  width: 125px;
}

.data-small {
  font-size: 0.8em;
=======
	width: 80px;
=======
  width: 80px;
>>>>>>> 3abc053... spaces
=======
  width: 105px;
>>>>>>> 53280d3... test icon working
}

.column-wide {
  width: 125px;
}

.data-small {
<<<<<<< HEAD
	font-size: 0.8em;
>>>>>>> e335799... style guidance from eric ronnne
=======
  font-size: 0.8em;
>>>>>>> 3abc053... spaces
}
