.icon-18f {
  color: $bg-18f;
}

.logo-18f {
  width: 25px;
  float: left;
  margin-right: 10px;
}
<<<<<<< HEAD
<<<<<<< HEAD

*[aria-hidden='true'] {
  display: none !important;
}
=======
>>>>>>> 1e283fb... Apply jy-style-fun styles
=======

*[aria-hidden='true'] {
  display: none !important;
}
>>>>>>> 8f1bce0... accordion, nav list
